{name, "rebar"}.
{authors, ["Dave Smith <dizzyd@dizzyd.com>"]}.
{description, "A sophisticated build-tool for Erlang projects that follows OTP principles"}.
{homepage, "https://github.com/basho/rebar"}.
{license, "Apache License 2.0", "LICENSE"}.
{url, {git, "https://github.com/agner/agner.git", {branch, "master"}}}.
{applications, [rebar]}.
{install_command, "mkdir -p $AGNER_INSTALL_PREFIX/bin && cp ./agner $AGNER_INSTALL_PREFIX/bin/rebar"}.
{bin_files, ["bin/rebar"]}.
{build_command, "make"}.
